html, body {
    background-color: #009CDD;
    margin: 0;
}

htwg-paper {
    background-color: white;
}

img.htwg-logo {
    width: 700px;
    max-width: 75%;
    max-height: 50%;
}
img.htwg-logo-small {
    width: 200px;
    max-width: 30%;
    max-height: 10%;
}

footer {
    color: white;
    overflow-x: hidden;
    padding: 10px;
    background-color: #009CDD;
    border-top: 15px outset transparent;
    border-image:url('../img/paper-border-bottom.png') 207 0 repeat;
}

footer a {
    margin-right: 15px;
    text-decoration: none;
}
footer a:link, footer a:visited {
    color: white;
}
footer a:hover, footer a:active {
    color: lightgrey;
}